#gola-fotografi{
    height: 20px;
    width: 20px;
}
#tabela-superlig{
    overflow-x: auto;
}
#ndeshja-fundit{
    background-image: url('https://ak.picdn.net/shutterstock/videos/4714529/thumb/1.jpg');

}